<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
   <h1>hello world</h1>
    <%- include('./partials/footer.ejs') %>
</body>
 <%- include('./partials/script.ejs') %>
</html>