<nav class="bg-cyan-900 border-b border-gray-200 shadow-lg p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="#" class="text-2xl font-bold text-yellow-600 transform transition-transform duration-300 hover:scale-125 ml-10">JanaVani</a>

        <!-- Menu Links (Desktop) -->
        <div class="hidden md:flex space-x-8">
            <a href="#" class="nav-link mr-5 hover:text-yellow-400 transform transition-transform duration-300 hover:scale-125">Home</a>
            <a href="/user/account/profile" class="nav-link hover:text-yellow-400 transform transition-transform duration-300 hover:scale-125">Profile</a>
            <a href="#" class="nav-link ml-5 hover:text-yellow-400 transform transition-transform duration-300 hover:scale-125">Settings</a>
        </div>

        <!-- User Avatar with Dropdown (Desktop) -->
        <div class="relative hidden md:flex items-center space-x-4">
            <div id="avatarDropdownBtn" class="relative cursor-pointer">
                <img src="<%= user.avatar %>" alt="User Avatar" class="w-10 h-10 rounded-full">
            </div>
            <p><%= user.fullname %></p>
            <!-- Dropdown Menu -->
            <div id="avatarDropdown" class="dropdown-menu absolute right-0 mt-2">
                <a href="/user/account/profile">Profile</a>
                <a href="#">Settings</a>
                <a href="/user/account/logout">Logout</a>
            </div>
        </div>

        <!-- Hamburger Menu (Mobile) -->
        <div class="md:hidden flex items-center">
            <button id="menu-btn" class="block focus:outline-none">
                <div id="avatarDropdownBtn" class="relative cursor-pointer">
                    <img src="<%= user.avatar %>" alt="User Avatar" class="w-10 h-10 rounded-full">
                </div>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="md:hidden">
        <a href="#" class="mobile-menu-item ml-6 block py-3 px-5 text-white hover:bg-gray-200 hover:text-black">Home</a>
        <a href="#" class="mobile-menu-item ml-6 block py-3 px-5 text-white hover:bg-gray-200 hover:text-black">Dashboard</a>
        <a href="#" class="mobile-menu-item ml-6 block py-3 px-5 text-white hover:bg-gray-200 hover:text-black">Projects</a>
        <a href="#" class="mobile-menu-item ml-6 block py-3 px-5 text-white hover:bg-gray-200 hover:text-black">Profile</a>
        <a href="/user/account/logout" class="mobile-menu-item ml-6 block py-3 px-5 text-white hover:bg-gray-200 hover:text-black">Logout</a>
    </div>
</nav>